start z_0
final z_4

(z_0, 0, #) -> (z_0, A#)
(z_0, 0, A) -> (z_0, AA)
(z_0, 1, A) -> (z_1, _)
(z_1, _, A) -> (z_2, _)
(z_2, 1, A) -> (z_1, _)
(z_2, _, #) -> (z_3, #)
(z_3, _, #) -> (z_4, #)
(z_4, 0, #) -> (z_4, #)
(z_4, 1, #) -> (z_4, #)
